<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/assets/trace-icon.png">
    <!-- <div style="background-image: url('../static/assets/dbbgi.jpeg');"> -->
    <title>关于迹App</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">
</head>


<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Trace.Social</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="{{ url_for('index') }}">主页</a>
            <a class="nav-link active" href="#">关于我们</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading"><br>关于我们</h1>
        <p class="lead">
            <div align="center"> 
                <br>
                迹App是一个身份中心，它以故事为主要内容载体，集合用户的生活、工作学习、思想等多个维度的信息，为用户打造Ta们在互联网上唯一的立体身份名片。可以把它想象成一个standardized 的博客网络，所有用户可以快速建立起自己的个人主页，并且通过迹App的社交网络与其他人建立链接。
                <br> 
                <br>
                用户通过分享自己在迹App的个人名片，可以更全面地向他人展示自己，并且在社交活动中为双方提供更加立体的个人信息，从而提升社交关系的质量。
            </div>
        </p>
      </main>

        

      <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Copyright Trace.Social @ 2021 | Powered by Flask & Docker-compose.</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>